services:
  postgres-ecommerce:
    image: postgres:16-alpine
    container_name: postgres-ecommerce
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app

  postgres-ecommerce-admin:
    image: dpage/pgadmin4
    ports: [ "5080:80" ]
    restart: always
    depends_on: [ "postgres-ecommerce" ]
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    container_name: postgres-ecommerce-admin
    networks:
      - app

volumes:
  postgres_data:

networks:
  app:
    driver: bridge
